<h1>Characteristics</h1>
    <div class="container">
<table class="table table-bordered table-striped" style="width: 50%; float: left;">
  <tr class="info">
    <th></th>
    <th>Значення</th>
    <th>Середньоквадратичне
      відхилення</th>
    <th>Довірчий інтервал</th>
  </tr>

      <tr>
        <td>Середнє арифметичне</td>
        <td><%= @average_value %></td>
        <td><%= @average_value_MSD  %></td>
        <td></td>
      </tr>

      <tr>
        <td>Медіана</td>
        <td><%= @mediana  %></td>
        <td>-</td>
        <td>-</td>
      </tr>

      <tr>
        <td>Середньоквадратичне</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Коефіцієнт асиметрії</td>
        <td><%= @asymmetry_coef %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Коефіцієнт ексцесу</td>
        <td><%= @excess_coef %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Коефіцієнт контрексцесу</td>
        <td><%= @counterexcess_coef %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Коефіцієнт варіації</td>
        <td><%= @variation_coef %></td>
        <td></td>
        <td></td>
      </tr>

</table>
</div>